<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group6.TakeOff">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.group6.TakeOff.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.group6.TakeOff.activity_flugzeug"
            android:label="@string/title_flugzeug" />
        <activity
            android:name="com.group6.TakeOff.activity_taxi"
            android:label="@string/title_taxi" />
        <activity
            android:name="com.group6.TakeOff.activity_zug"
            android:label="@string/title_zug" />

        <activity
            android:name="com.group6.TakeOff.activity_transport"
            android:launchMode="singleTop"
            android:label="@string/title_transport"/>
        <activity
            android:name="com.group6.TakeOff.activity_allgemein"
            android:launchMode="singleTop"
            android:label="@string/title_allgemein"/>
        <activity
            android:name="com.group6.TakeOff.activity_rechnung"
            android:launchMode="singleTop"
            android:label="@string/title_rechnung"/>
        <activity
            android:name="com.group6.TakeOff.activity_unterkunft"
            android:launchMode="singleTop"
            android:label="@string/title_unterkunft"/>
        <activity
            android:name="com.group6.TakeOff.activity_auto"
            android:label="@string/title_auto" >
        </activity>
        <activity
            android:name="com.group6.TakeOff.function_gps">
        </activity>
    </application>

</manifest>


